# Python
__pycache__/
*.py[cod]
*$py.class

# Pyenv
.python-version

# Venv
.venv
venv/
env/

# Build artifacts
build/
dist/

# Eggs
*.egg-info/
.eggs/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.idea/
.vscode/

# Other
.DS_Store
.deepeval/
*.log

*.jpg
*.jpeg
test_cases/

.deepeval/